footer
  div.lockup
    div.logo

    div.content-wrap
      nav
        a(href='/home/#about-me') About Me
        a(href='/home/#Experenice') Experience
        a(href='/home/#Blog') Blog
        a(href='/home/#Details') Contact Me


      p.copyright Dhurai 2020
