<section>
    <h2 id="about-me">About Myself</h2>
    <hr class="bar" />
    <div class="about-lock">
        <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div class="face-img"></div>
                </div>
                <div class="back">
                    <div class="face1-img"></div>
                </div>
            </div>
        </div>
        <div class="glyph-icon flaticon-chip"></div>
        <div class="glyph-icon flaticon-car"></div>
        <div class="glyph-icon flaticon-programming"></div>
        <div class="glyph-icon flaticon-atom-1"></div>
    </div>
    <div class="blurb">
        <p>
            I am an Automotive engineer with experience in simulation, controls, data analysis and vehicle dynamics. I have a deep
            interest in science and technology. I am passionate about exploration, constantly seeking new challenges and interesting question. 
            Currently, I am working on my Master thesis @ Volvo cars in Sweden.
        </p>

        <!--<p>
            This little website is my space to tell the world about me, put my CV out there, show off my projects and make my
            contribution to the robot revolution via the blog below. Oh and I ocassionaly post about racing quadcopters
        </p>-->

        <p>
            <b>I am currently open to opportunities </b> and willing to relocate anywhere in the world.
            If you have something interesting, you can <a href="mailto:dhuraiip@gmail.com" style="color:black"><b>get in touch</b></a>.
        </p>

    </div>
    <div class="skill-lock"></div>
</section>
