---
layout: default
---

{% include header.html %}

{% include about.html %}

{% include history.html %}

<h2 id="Blog"> Featured Projects </h2>
<hr class="bar-blog"> </hr>

<a href="https://dhurai1995.github.io/home/blog/2019/01/01/Project-one.html"><h2>Laptime Simulation software</h2> </a>
<p style="margin-bottom:1cm;"></p>

<a href="https://dhurai1995.github.io/home/blog/2018/01/01/Project-two.html"><h2> Housing price prediction </h2> </a>
<p style="margin-bottom:1cm;"></p>

<a href="https://dhurai1995.github.io/home/blog/2017/01/01/Project-three.html"><h2> Timber game </h2> </a>
<p style="margin-bottom:1cm;"></p>

<hr class="bar-blog"> </hr>

<!--<h2 id="Blog"><a href="/posts"> More >> </a></h2>-->
{% include contact.html %}

<!--{% include message.html %}-->
