---
layout: default
---

{% include header.html %}

{% include about.html %}

{% include history.html %}

<h2 id="Blog"> Featured Projects </h2>
<hr class="bar-blog"> </hr>

<div class="contents">
    <a href="https://dhurai1995.github.io/home/blog/2019/01/01/Project-one.html"><h1 class="post-title">Laptime Simulation software</h1> </a>
    <!--<p style="margin-bottom:1cm;"></p>-->

    <a href="https://dhurai1995.github.io/home/blog/2018/01/01/Project-two.html"><h1 class="post-title"> Housing price prediction </h1> </a>
    <p style="margin-bottom:1cm;"></p>

    <a href="https://dhurai1995.github.io/home/blog/2017/01/01/Project-three.html"><h1 class="post-title"> Timber game </h1> </a>
    <p style="margin-bottom:1cm;"></p>

</div>




<hr class="bar-blog"> </hr>

<!--<h2 id="Blog"><a href="/posts"> More >> </a></h2>-->
{% include contact.html %}

<!--{% include message.html %}-->
