---
layout: default
---

{% include header_small.html %}



<h2 id="Blog"> Projects </h2>
<hr class="bar-blog"> </hr>

<div align="center">
    <h7>CAD works: </h7>
</div>
<div class="contents">
    <a href="https://dhurai1995.github.io/home/blog/2016/01/01/Project-four.html"><h1 class="post-title" style="font-size:35px;"> All terrain buggy vehicle </h1> </a>
    <a href="https://dhurai1995.github.io/home/blog/2015/01/01/Project-five.html"><h1 class="post-title" style="font-size:35px;"> Steering system </h1> </a>

</div>

<hr class="bar-blog"> </hr>

<div align="center">
    <h7>Multibody dynamics stuffs: </h7>
</div>
<div class="contents">
    <a href="https://dhurai1995.github.io/home/blog/2014/01/01/Project-six.html"><h1 class="post-title" style="font-size:35px;"> Formula student car model </h1> </a>
    <a href="https://dhurai1995.github.io/home/blog/2013/01/01/Project-seven.html"><h1 class="post-title" style="font-size:35px;"> ATV buggy vehicle </h1> </a>
    <a href="https://dhurai1995.github.io/home/blog/2012/01/01/Project-eight.html"><h1 class="post-title" style="font-size:35px;"> Three-wheeled vehicle </h1> </a>

</div>

<hr class="bar-blog"> </hr>

<div align="center">
    <h7>Games: </h7>
</div>
<div class="contents">
    <a href="https://dhurai1995.github.io/home/blog/2017/01/01/Project-three.html"><h1 class="post-title" style="font-size:35px;"> Timber game </h1> </a>
    <a href="https://github.com/Dhurai1995/pongPong"><h1 class="post-title" style="font-size:35px;"> Pong </h1> </a>
    <a href="https://github.com/Dhurai1995/pongPong"><h1 class="post-title" style="font-size:35px;"> Zombie Arena </h1> </a>
    <p style="margin-bottom:2cm;"></p>

</div>

<hr class="bar-blog"> </hr>
<div class="temp-posts">

</div>
